@model OrderDetailsViewModel

<h2>Details:</h2>
<h1>Hello the orders module</h1>
<ul>
    <li>Name: @Model.PizzaName</li>
    <li>User: @($"Mr/Mrs: {Model.UserFullName}")</li>
    <li>User: @Model.UserAddress</li>
    <li>Price: @Model.Price.ToString("c")</li>
    <li>Payment method: @Model.PaymentMethod</li>
</ul>

@if (Model.Delivered)
{
    <p>Delivered</p>
}
else
{
    <p>Not delivired</p>
}

<partial name="~/Views/Shared/Partials/_OrderDetailsPartial.cshtml" for="@Model" />

<a asp-action="Index">Back to orders</a>
<br />
@Html.ActionLink("List all orders", "Index")
<hr />
<a asp-controller="Home" asp-action="Index">Back to home</a>
<br />
@Html.ActionLink("Home page", "Index", "Home")